<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
>
  
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	<!--<property name="jdbcUrl" value="jdbc:mysql://180.76.190.218:3306/report?autoReconnect=true"/>-->
	<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/report?autoReconnect=true"/>
	<property name="user" value="root"/>
	<property name="password" value="password"/>
	<property name="initialPoolSize" value="5"></property>
	<property name="minPoolSize" value="5"></property>
	<property name="maxPoolSize" value="15"/>
	
	<!--最大空闲时间，60秒内未使用则连接被丢弃。若为0则永不丢弃。默认值: 0 -->
	<property name="maxIdleTime" value="60">
	</property>

	<!-- 当连接池连接耗尽时，客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException，如设为0则无限期等待。单位毫秒。默认: 
		0 -->
	<property name="checkoutTimeout" value="3000" />

	<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。默认值: 3 -->
	<property name="acquireIncrement" value="2" />

	<!--定义在从数据库获取新连接失败后重复尝试的次数。默认值: 30 ；小于等于0表示无限次 -->
	<property name="acquireRetryAttempts" value="0" />

	<!--重新尝试的时间间隔，默认为：1000毫秒 -->
	<property name="acquireRetryDelay" value="1000" />

	<!--关闭连接时，是否提交未提交的事务，默认为false，即关闭连接，回滚未提交的事务 -->
	<property name="autoCommitOnClose" value="false">
	</property>

	<!--c3p0将建一张名为Test的空表，并使用其自带的查询语句进行测试。如果定义了这个参数那么属性preferredTestQuery将被忽略。你不能在这张Test表上进行任何操作，它将只供c3p0测试使用。默认值: 
		null -->
	<!-- <property name="automaticTestTable">Test</property> -->

	<!--如果为false，则获取连接失败将会引起所有等待连接池来获取连接的线程抛出异常，但是数据源仍有效保留，并在下次调用getConnection()的时候继续尝试获取连接。如果设为true，那么在尝试获取连接失败后该数据源将申明已断开并永久关闭。默认: 
		false -->
	<property name="breakAfterAcquireFailure" value="false">
	</property>

	<!--每60秒检查所有连接池中的空闲连接。默认值: 0，不检查 -->
	<property name="idleConnectionTestPeriod" value="60">
	</property>
	<!--c3p0全局的PreparedStatements缓存的大小。如果maxStatements与maxStatementsPerConnection均为0，则缓存不生效，只要有一个不为0，则语句的缓存就能生效。如果默认值: 
		0 -->
	<property name="maxStatements" value="100">
	</property>
	<!--maxStatementsPerConnection定义了连接池内单个连接所拥有的最大缓存statements数。默认值: 0 -->
	<property name="maxStatementsPerConnection" value="1">
	</property>
	
</bean>

   <!-- 配置事务管理器 -->
<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:config/sqlmap-config.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean> 
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
</bean>

<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 自动扫描(自动注入) -->
<context:component-scan base-package="com.report" />


</beans>